* {
	padding: 0;
	margin: 0;
}

@font-face {
	src: url("../fonts/OpenSans-Light.ttf") format("truetype"), /*compat safari iOS Android*/
		 url("../fonts/OpenSans-Light.woff") format("woff");/*compat relatively modern browsers*/
	font-family: normal; 
}

@font-face {
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype"), /*compat safari iOS Android*/
		 url("../fonts/OpenSans-Bold.woff") format("woff");/*compat relatively modern browsers*/
		 font-family: bold;
}



html {
	font-size: 62.5%;
}


body {
	color: #333;
	height: 100%;
	padding: 0;
	margin: 0;
}

/*@media screen and (max-width: 1440px) {
	body {
		width: 100%;
	}
}


@media screen and (max-width: 768px) {
	body {
		width: 768px;
	}
}

*/


h1, h2, h3 {
	font-family: bold, sans-serif;
	padding: 10px 20px 10px 20px;
	padding: 1rem 2rem .5rem 2rem;
}

h1 {
	font-size: 32px;
	font-size: 3.2rem;
	
}

h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

h3 {
	font-size: 20px;
	font-size: 2rem;
}

p {
	font-family: normal;
	font-size: 19px;
	font-size: 1.9rem;
	text-align: center;
	padding: 0 20px 10px 20px;
	padding: 0 2rem 1rem 2rem;
}

#page-container {
	min-height: 100%;
}

.flex-hero {
	width: 100%;
	height: 25rem;
	background: url("../images/brightgold.jpg");
	background-position: center;
	background-size: cover;
}

.flex-hero > h2 {
	text-align: center;
	padding-top: 3rem;
	color: #fff;
	letter-spacing: 1rem;
	padding-top: 9rem;
}
/*.flex-hero {
	display: flex;
}

@media screen and (max-width: 850px) {
	img[title^="hero"] {
		height: 250px;
	}
}

@media screen and (max-width: 750px) {
	img[title^="hero"] {
		height: 230px;

	}
}*/


.header-container-flex {
	height:6rem;
	width: 100%;
	display: flex;
	align-items: center;
	/*box-shadow: .1rem .1rem .5rem;*/
}

.container-items-brand {
	padding-top: .5rem;
	padding-left: .5rem;
}

.header-buttons-container {
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.book {
	width: 15rem;
	height: 3.5rem;
	color: #eee;
	margin: .2rem 2rem 0 .5rem;
	background: #444;
	border: .01rem solid silver;
	transition: color 2s;

}

.book:hover {
	color: #d4af37
}

/*.container-items-toggle {
	padding: 0 1rem 0 1rem;
	margin-left: auto;
}*/

.container-items-toggle > h2 {
	font-size: 3.2rem;
	padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 850px) {

}
nav {
	/*width: 100%;*/
	/*width: 100%;*/
	padding: 1rem 0 1rem 0;
	margin-top: .4rem;
	background: #222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*padding: 1rem;*/
	font-family: bold;
	font-size: 1.4rem;
}



@media screen and (min-width: 850px) {
	nav {
		flex-direction: row;
		justify-content: space-evenly;
		text-align: center;
	}
}


@media screen and (max-width: 850px) {
	nav {
		display: block;
		flex-direction: column;
		text-align: center;
	}
}


.flex-item {
	padding-left: 0;
	padding-right: 2rem;
	color: #eee;
	text-decoration: none;
	transition: color 1s;
}


@media screen and (max-width: 850px) {
	.flex-item {
		display: block;
		background-color: #444;
		margin: 0 0 1rem 0;
		text-align: center;
		/*width: 100%;*/
		color: #000;
	}
}
.flex-item:hover {
	color: #333;
}


main {
	min-height: 100%;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.main-flex {
	/*height: 45rem;*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-flex-item {
	padding: 0;
	margin: 0;

}

.main-flex-container {
	height: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container-item:first-child {
	height: 7.5rem;
	width: 100%;
	margin-top: 4rem;
	background: url("../images/spa.jpg");
	background-size: cover;
	background-color: blue;
}


.container-item {
	width: 48%;
	background-color: grey;
	font-size: 1.9rem; 
}

.container-item:nth-child(2) {
	height: 40rem;
	color: black;
	background-color:white;
}

.para-flex {
	text-align: left;
}

.para-flex-too {
	text-align: right;
}

.container-item:nth-child(3) {
	height: 40rem;
	background-color: white;
	text-align: right;
}

.container-item:nth-child(4) {
	width: 100%;
	height: 40rem;
	background: url("../images/spa-too.jpg");
	background-size: cover;
	background-position: center;
}